.portfolio-project-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 70px;
  margin-bottom: 200px;
}

.portfolio-left-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-right-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-image {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 15px 15px rgba(46, 46, 46, 0.2);
  border-radius: 5px;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {

  .portfolio-project-container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    gap: 30px; /* Reduce the gap between elements */
    margin-bottom: 100px;
  }

  .portfolio-left-container,
  .portfolio-right-container {
    max-width: 100%; /* Each container takes full width on smaller screens */
  }

  .reverse-image {
    order : 2
  }



}


