
/** ADD YOUR AWESOME CODES HERE **/


.portfolio-project-container {
  display: flex;
  flex-direction : row;
  max-width : 100%;
  gap : 70px;
  margin-bottom : 200px;
}

.portfolio-left-container {
  max-width : 50%;
  display: flex;
  flex-direction : column;
  justify-content: center;
}

.portfolio-right-container {
  max-width : 50%
}

.portfolio-image {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.2);
}
