/* OVERIDE STYLES */

p {
  color : #414141
}

/* PORTFOLIO SECTION  */

.about-me-text {
  font-size : 20px;
}

.portfolio-project-container {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: auto; /* Only one row */
  max-width: 100%;
  gap: 4%;
  margin-bottom: 200px;
}

.portfolio-left-container,
.portfolio-right-container {
  align-self: center; /* Center vertically */

}

.reverse-project-containers {
  grid-template-areas: "right left";
}

.portfolio-project-container:not(.reverse-project-containers) {
  grid-template-areas: "left right";
}

.portfolio-image {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 15px 15px rgba(46, 46, 46, 0.2);
  border-radius: 5px;
}

.portfolio-section-title {
  font-size : 60px;
  margin-bottom : 80px;
}

.project-divider-container{
  display : none;
}

.mobile-title {
  grid-area: mobile;
  display: none;
}

.desktop-title {
  font-size : 30px;
}

.portfolio-left-container {
  grid-area: left;
}

.portfolio-right-container {
  grid-area: right;
}




/* Media query for smaller screens */
@media screen and (max-width: 768px) {

  .portfolio-section-title-container {
    text-align: center; /* Center the text */
  }

  .portfolio-section-title {
    margin-left: auto;  /* Center the title horizontally */
    margin-right: auto;
    margin-top: -30px;
  }

  .desktop-title {
    display: none;
  }

  .mobile-title {
    display: block;
    font-size : 35px;
  }

  .portfolio-project-container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    margin-left: 0;
    gap : 10px;
    margin-bottom: 50px;
  }

  .reverse-project-containers {
    grid-template-areas:
      "mobile"
      "right"
      "left";
  }

  .portfolio-project-container:not(.reverse-project-containers) {
    grid-template-areas:
      "mobile"
      "right"
      "left";
  }

  .portfolio-section-title {
    margin-bottom : 50px;
    font-size : 50px;
  }

  .portfolio-left-container,
  .portfolio-right-container,
  .portfolio-section-title-container,
  .project-divider-container {
    max-width: 100%;
    margin-right : auto;
    margin-left: auto; 
  }

  .project-divider-container {
    display: flex; 
    align-items: center;
    height : min-content;
  }

  .divider {
    display : block;
    background : rgb(184, 184, 184);
    height : 2px;
    width : 70%;
    margin-bottom : 50px;
    margin-right : 15px;
  }

  .portfolio-image {
    box-shadow: 5px 5px 10px rgba(105, 105, 105, 0.2);
    border-radius: 5px;
    margin-bottom : 10px;
  }
}
