

* {
  margin: 0;
  padding: 0;
}

p, a, li {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}


ul, ol {
  list-style-position: inside;
}


/*-------------------------------------*/

html-index-container {}

html {
}

body {
  padding-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

body-index-container {}

section {
  padding: 0 10px 0 10px;
}


/*-------------------------------------*/

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}
  
.logo {
  font-family:monospace;
  font-weight: bold;
  font-style: italic;
}



.nav-inner-container {
  background: lightgray;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.nav-inner-container a {
  color: black;
}



.nav-logo-container {
  margin-right: 40%;
}

@media (max-width: 500px) {
  .nav-logo-container {
    margin-right: 20%;
  }
}


.nav-link-container {
  min-width: min-content;
  margin-right: 15px;
}

.last-nav-link-container {
  margin-right: 0px;
}




/*-------------------------------------*/

.heading-container {
  text-align: center;
  margin-bottom: 100px;
  font-size: 35px;
}




#heading {
  
}




/*-------------------------------------*/


.about {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    max-width: 750px;
}

.about-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
}

@media (max-width: 650px) {
  .about-inner-container {
    flex-direction: column;
    width: 100%;
  }

}

.about-info-container {
  background: lightgray;
  padding: 10px;
  max-width: 350px;
  height: min-content;
}



.about-image-container {
  max-width: 370px;
}

.about-image-container img {
  width:100%;
}

/*-------------------------------------*/


.blog-entries {
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  max-width: 750px;
}



.blog-entries-inner-container {
  width: auto;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.blog-individual-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 50px;
  background: lightgray;
}



.blog-description-container {
  min-width: auto;
}

.blog-image-container {
  max-width: 150px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-image-container img {
  width: 100%;
}

@media (max-width: 450px){
  .blog-image-container {
    display:none;
  }

}


/*-------------------------------------*/


.footer {
  background: lightgray;
  height: auto;
  height: 40px;
  max-width: 1000px;
  width: 100%;
  padding: 10px 0 10px 0;
}

.footer a {
  color: black;
}

.footer-inner-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}

.footer-link-container {
  height: min-content;
}

@media (max-width: 850px) {

    .footer {
      height: 150px;
    }

  .footer-inner-container {
    flex-direction: column;
  }

  .footer-link-container {
      margin-bottom: 10px;
  }
}


