

* {
  margin: 0;
  padding: 0;
}



/*-------------------------------------*/

html-index-container {}

body {
  height: 1000px;
  padding-top: 100px;
}

body-index-container {}


/*-------------------------------------*/

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}
  


.nav-inner-container {
  
  background: lightgray;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
}

.nav-logo-container {
  background: orange;
  margin-right: 20%;
}

.nav-link-container {
  background: green;
  min-width: min-content;

}

/*-------------------------------------*/

.heading-container {
  text-align: center;
  margin-bottom: 100px;
}




#heading {
  
}

.section-generic {}


/*-------------------------------------*/


.about {}

.about-inner-container {}

.about-info-container {}

.about-image-container {}


/*-------------------------------------*/


.blog-entries {}

.blog-entries-inner-container {}

.blog-individual-container {}

.blog-description-container {}

.blog-image-container {}


/*-------------------------------------*/


.footer {}

.footer-inner-container {}

.footer-link-container {}



